[submodule "pythonservices"]
	path = pythonservices
	url = git@bitbucket.org:ernespn/pythonservices.git
[submodule "fsharp-calculator"]
	path = fsharp-calculator
	url = git@github.com:ernespn/fsharp-calculator.git
[submodule "python-calculator"]
	path = python-calculator
	url = git@github.com:ernespn/python-calculator.git
[submodule "csharp-calculator"]
	path = csharp-calculator
	url = git@github.com:ernespn/csharp-calculator.git
[submodule "nodejs-calculator"]
	path = nodejs-calculator
	url = git@github.com:ernespn/nodejs-calculator.git
[submodule "spring-calculator"]
	path = spring-calculator
	url = git@github.com:ernespn/spring-calculator.git
