[submodule "pythonservices"]
	path = pythonservices
	url = https://github.com/ernespn/pythonservices.git
[submodule "fsharp-calculator"]
	path = fsharp-calculator
	url = https://github.com/ernespn/fsharp-calculator.git
[submodule "python-calculator"]
	path = python-calculator
	url = https://github.com/ernespn/python-calculator.git
[submodule "csharp-calculator"]
	path = csharp-calculator
	url = https://github.com/ernespn/csharp-calculator.git
[submodule "personal-website"]
	path = personal-website
	url = https://github.com/ernespn/personal-website.git
[submodule "spring-services"]
	path = spring-services
	url = https://github.com/ernespn/spring-services.git
[submodule "nodejs-calculator"]
	path = nodejs-calculator
	url = https://github.com/ernespn/nodejs-calculator.git
[submodule "lb-nginx"]
	path = lb-nginx
	url = https://github.com/ernespn/lb-nginx.git
